* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.App {
  font-family: "Open Sans", sans-serif;
  height: 2160px;
  width: 100vw;
  display: grid;
  background-color: #d5d5d5;
  grid-template-columns: 1fr 650px 350px 1fr;
  grid-template-rows: 70px 300px 1550px 200px;
  grid-template-areas:
    "navbar navbar navbar navbar"
    ". container container ."
    ". main-container-left main-container-right . "
    ". footer footer .";
}

.navbar {
  grid-area: navbar;
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.top-container {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  grid-area: container;
  background-color: aquamarine;
  background-image: url("./pictures/tbl.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  padding: 0px 15px 0px 20px;
}

.main-container-left {
  grid-area: main-container-left;
  background-color: white;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background-color: #535252;
  margin-top: 25px;
  border-radius: 10px;
}

.btn-top-container {
  margin-right: auto;
  padding: 7px 5px 2px 5px;
  border-radius: 5px;
  background-color: #7e7c7c;
  color: white;
  margin-right: 5px;
}

.donate-btn {
  margin-left: auto;
  background-color: aqua;
  padding: 3px;
  border-radius: 10px;
}

.pic-video-purpose {
  height: 100%;
  width: 100%;
}

.video-purpose {
  padding-bottom: 15px;
}

.kuch-long-pic {
  width: 100%;
  height: 100px;
}

.main-container-right {
  display: flex;
  flex-direction: column;
  grid-area: main-container-right;
  padding: 20px 0px 0px 20px;
  background-color: white;
}

.pic-amelia {
  width: 100%;
  border: 1px solid gray;
}

.search-component {
  background-color: whitesmoke;
  height: 100%;
  padding-top: 15px;
}

.search-players {
  padding: 5px 0px 5px 15px;
  background-color: #444f5a;
  color: white;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 45px;
}

.bottom-part-search-component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-btn {
  padding: 2px 8px 2px 8px;
  border-radius: 5px;
}

.search-input {
  padding: 2px;
  border-radius: 5px;
}

.all-players-text {
  padding-top: 35px;
}

.p-tag-players {
  margin-top: 25px;
  background-color: aquamarine;
  padding: 9px;
  background-color: whitesmoke;
}

.players-container {
  margin-top: 35px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Roboto Mono", monospace;
}

.player-photo {
  width: 150px;
  margin-bottom: 5px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid whitesmoke;
}

.nhl-img {
  width: 150px;
  align-self: flex-start;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1c2032;
}

.individual-text-footer {
  color: #d5d5d5;
  margin-right: 4px;
}

.top-footer-text {
  display: flex;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: rgb(176, 174, 174);
  padding: 20px;
  font-size: 0.9rem;
}
